// Grid
$xl: 1600px;
$lg: 990px;
$md: 768px;
$sm: 576px;
$gutter: 30px;
$container: $xl;

// Colors
$text: #242424;
$textPale: #333333;

$bluePale: #3A92B5;
$blue: #03658C;
$blueDark: #012E40;
$pink: #F26D78;
