#year-selector {
  margin: 50px 0;
}
#year-selector-list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 0;
  width: 100%;
  max-width: 700px;
  list-style: none;
  border-top: 4px solid #d7dcdf;
  li {
    position: relative;
    &:first-of-type,
    &:last-of-type {
      &:before {
        content: '';
        position: absolute;
        top: -4px;
        width: 10px;
        height: 4px;
        background: #fff;
      }
    }
    &:first-of-type {
      &:before {
        left: 0;
      }
    }
    &:last-of-type {
      &:before {
        right: 0;
      }
    }

    button {
      position: relative;
      -webkit-appearance: none;
      padding: 20px 0 0;
      border: none;
      font-size: 12px;
      color: #242424;
      cursor: pointer;
      &:after {
        content: '';
        position: absolute;
        top: -12px;
        left: 50%;
        transform: translateX(-50%);
        width: 20px;
        height: 20px;
        background: #d7dcdf;
        border-radius: 50%;
        transition: all 0.1s ease-out;
      }
      &.active,
      &:hover, &:focus {
        &:after {
          background: $bluePale;
          transition: all 0.1s ease-in;
        }
      }
      &.active {
        cursor: default;
      }
    }
  }
}
